<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Transactions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <h1>Manage Transactions</h1>
    <form method="POST" action="/transactions">
        <label for="product_id">Product:</label><br>
        <select id="product_id" name="product_id" required>
            {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select><br>

        <label for="action_type">Action:</label><br>
        <select id="action_type" name="action_type" required>
            <option value="add">Add Stock</option>
            <option value="remove">Remove Stock</option>
        </select><br>

        <label for="quantity">Quantity:</label><br>
        <input type="number" id="quantity" name="quantity" required><br><br>

        <button type="submit">Submit Transaction</button>
    </form>
    <a href="/" class="back-home">Back to Home</a>

</body>
</html>
